127.0.0.1 localhost localhost.localdomain localhost4 localhost4.localdomain4
127.0.0.1 {{ item.guest.guest_name | lower }}.{{ domain }} {{ item.guest.guest_name | lower }}
{{ item.guest.guest_ipv4.split('/')[0] }} {{ item.guest.guest_name | lower }}.{{ domain }} {{ item.guest.guest_name | lower }}
